<template>
    <div>
        <apexchart type=heatmap ref="updatableHeatmap" height=450 :options="chartOptions" :series="series" />
    </div>
</template>

<script>
import ApexCharts from 'vue-apexcharts'
import Mixin from 'components/Mixin'

export default {
    name: 'heatmap',
    props: ['id', 'comments', 'until', 'range'],
    mixins: [Mixin],
    components: {
        apexchart: ApexCharts,
    },
    mounted: function() {
        let me = this
        let watchForSeriesChange = ['until', 'comments']
        let updatableHeatmap = this.$refs.updatableHeatmap;
        watchForSeriesChange.forEach(function (item, index) {
            me.$watch(
                item,
                function() {
                    let series = this.generateSeries(me.comments, me.until, me.range)
                    updatableHeatmap.updateSeries(series)
                    updatableHeatmap.updateOptions(this.generateChartOptions(series))
                }
            )
        })
    },
    data: function() {
        let series = this.generateSeries(this.comments, this.until, this.range)
        let chartOptions = this.generateChartOptions(series)
        return {
            series: series,
            chartOptions: chartOptions
        }
    },
    methods: {
        generateSeries : function (comments, until, range) {
            var series = [];
            var since = new Date(until.getTime())
            since.setDate(until.getDate() - range)
            for (var hour = 0; hour < 24; hour++) {
                var index = 23 - hour;
                var data = []
                for (var date = new Date(since); date <= until; date.setDate(date.getDate() + 1))
                {
                    data.push({x: this.formatDate(date), y: 0})
                }
                series[index] = {
                    name: hour.toString(),
                    data: data
                }
            }
            for (var i = 0; i < comments.length; i++) {
                let commentsPerDay = comments[i];
                let day = new Date(commentsPerDay.day)
                if (day >= since && day <= until) {
                    for (var hour = 0; hour <= 23; hour++) {
                        var index = 23 - hour
                        if (commentsPerDay.commentsPerHour.hasOwnProperty(hour)) {
                            series[index].data.filter(e => e.x === this.formatDate(day))[0].y = commentsPerDay.commentsPerHour[hour]
                        }
                    }
                }
            }
            return series;
        },
        generateChartOptions : function (series) {
            var colors = []
            if (series) {
                colors = series[0].data.map(function(element) {
                    let labelDate = new Date(element.x)
                    let weekend = [0, 6]
                    return (weekend.includes(labelDate.getDay()) ? '#FB0800' : '#008FFB')
                })
            }
            var chartOptions = {
                dataLabels: {
                    enabled: false
                },
                colors: colors,
                plotOptions: {
                    heatmap: {
                        radius: 3,
                        colorScale: {
                            inverse: true
                        }
                    }
                },
                xaxis: {
                    labels: {
                        rotate: -45,
                        rotateAlways: true,
                        style: {
                            colors: colors,
                        },
                        minHeight: 60,
                        maxHeight: 120,
                    }
                },
                yaxis: [{
                    labels: {
                        style: {
                            color: "#f4ea9a"
                        },
                    }
                }],
            }
            return chartOptions
        }
    }
}
</script>
