<template>
    <div>
        <heatmap
            :comments="comments"
            :range="range"
            :until="untilForHeatmap"
        ></heatmap>
        <div class="center">
            {{ sinceFormatted }} : {{ untilFormatted }}
        </div>
        <input type="range" min="1" max="100" step="1" v-model="updateDateRange" @mouseup="mouseUp">
    </div>
</template>

<script>
import Heatmap from 'components/Heatmap'
import Mixin from 'components/Mixin'

export default {
    name: 'heatmap-section',
    props: ['id', 'comments'],
    mixins: [Mixin],
    components: {
        Heatmap
    },
    data: function() {
        let range = 27
        var until = new Date()
        var since = new Date(until.getTime())
        since.setDate(until.getDate() - range)
        return {
            offset: 0,
            range: range,
            since: since,
            until: until,
            sinceFormatted: this.formatDate(since),
            untilFormatted: this.formatDate(until),
            untilForHeatmap: until
        }
    },
    computed: {
        updateDateRange: {
            get: function() {
                return 100 - this.offset
            },
            set: function(newValue) {
                this.offset = 100 - newValue
                var current = new Date()
                var until = new Date(current.getTime());
                until.setDate(current.getDate() - this.offset)
                this.until = until
                var since = new Date(until.getTime())
                since.setDate(until.getDate() - this.range)
                this.sinceFormatted = this.formatDate(since)
                this.untilFormatted = this.formatDate(until)
            }
        }
    },
    methods: {
        mouseUp : function () {
            this.untilForHeatmap = this.until
        },
    }
}
</script>

<style lang="scss">
</style>
